<div class="tripSummary">
  <div>Date: {{date}}</div>
  <h2>Fishing trip {{id}}</h2>
  <img class="fishingTripImage" src="{{image}}" alt="Fishing trip {{id}}">
  <div>Location: {{location}}</div>
  <div>Weather: {{weather}}</div>
  <div>Vibes: {{vibes}}</div>
 <div class="fishList">
  <h3>Fish caught: </h3>
  <ul role="fishList">
  {{#each fish}}
    <li role="fishListli">
        <div>Species: {{species}}</div>
        <div>Length: {{length}}</div>
        <div>Bait: {{bait}}</div>
      </li>
  {{/each}}
  </ul>
</div>
  <a href="/edit">Edit</a>
</div>
