<div class="background-image"></div>
<div class="tripSummary">
  <div>Date: {{date}}</div>
  <h2>Fishing trip {{id}}</h2>
  <img class="fishingTripImage" src="{{image}}" alt="Fishing trip {{id}}">
  <div>Location: {{location}}</div>
  <div>Weather: {{weather}}</div>
  <div>Vibes: {{vibes}}</div>
 <div>
  <h3 id="fishList">Fish:</h3>
  <ul aria-describedby="fishList">
  {{#each fish}}
    <li>
        <div>Species: {{species}}</div>
        <div>Length: {{length}}</div>
        <div>Bait: {{bait}}</div>
      </li>
  {{/each}}
  </ul>
</div>
  {{!-- <a href="/fishing-trip/{{id}}/edit">Edit</a> --}}
</div>
