<div class="container">
  {{#each fishing-trip}}
  <div>
    <a href="/fishing-trip{{id}}">Fishing trip {{id}}</a>
    <img src="{{image}}" alt="Fishing trip {{name}}">
    <div>{{date}}</div>
    <div>Number of fish: {{fish.length}}</div>
  </div>
  {{/each}}
</div>
