<div class="container">
  {{#each fishingTrips}}
  <div class="fishingTrip">
    <div><img class="fishingTripImage" src="{{image}}" alt="Fishing trip {{id}}"/></div>
    <a href="/fishing-trip/{{id}}">Fishing trip {{id}}</a>
    <div>Date: {{date}}</div>
    <div>Number of fish: {{fish.length}}</div>
  </div>
  {{/each}}
</div>
